.git/objects/pack/pack-accf7a4eda1a53318bdee77a86ebad9049ac60eb.pack
system/system/priv-app/OnePlusCamera/OnePlusCamera.apk
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/priv-app/Settings/Settings.apk
system/system/product/priv-app/Velvet/Velvet.apk
