OnePlus7Oxygen_13.W.11_OTA_011_all_1910081730_75ef.zip
system/system/product/priv-app/Settings/Settings.apk
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/priv-app/Velvet/Velvet.apk
