payload.bin
odm.img
modem.img
reserve.img
system/system/app/OPWallpaperResources/OPWallpaperResources.apk
system/system/priv-app/OnePlusCamera/OnePlusCamera.apk
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/priv-app/Settings/Settings.apk
system/system/product/priv-app/Velvet/Velvet.apk
